#
# Sample .env file
# Copy this file .env to be picked up by the bot's dotenv call.
#
# *** DO NOT CHECK THE .env FILE INTO GIT! ***
#
TOKEN=<your discord bot token>
OWNER_ID=<your discord user id>
MYSQL_HOST=<mysql hostname>
MYSQL_PORT=<mysql port>
MYSQL_USER=<mysql username>
MYSQL_PASSWORD=<mysql password>
MYSQL_DATABASE=<mysql database
